.header
  グループを作成しました

.clumn
  .clumn__main-group
    testuser
    .clumn__main-group__setting
      = fa_icon("cog")
    .clumn__main-group__create
      = fa_icon("edit")
  .clumn__groups
    = render partial: 'group.html.haml' 

.chat-area
  .edit-area
    .edit-area__group 
      test-group
      %p.edit-area__group__member member:user
    .edit-area__edit-button Edit
  .log-area
    = render partial: 'chat-log.html.haml'
  .post-area
    .post-area__bar
      type a messages
      .post-area__bar__image-button
        = fa_icon("image lg")
    .post-area__button
      Send

