.clumn
  .clumn__main-group
    = current_user.name
    .clumn__main-group__setting
      = link_to edit_user_path(current_user.id) do
        = fa_icon("cog lg")
    .clumn__main-group__create
      = link_to new_group_path do
        = fa_icon("edit lg")
  .clumn__groups
    = render partial: 'group.html.haml' 

.chat-area
  .edit-area
    .edit-area__group 
      test-group
      %p.edit-area__group__member member:user
    .edit-area__edit-button edit
  .log-area
    = render partial: 'chat-log.html.haml'
  %form.post-area
    .post-area__bar
      %input.post-area__bar__input(type = "text" value = "" placeholder= "type a messages")
      %label.post-area__bar__image-button
        %input#image-select(type = "file" value = "image")
        = fa_icon("image lg")
    %input.post-area__button(type = "submit" value = "Send")