= render partial: 'shared/side_bar.html.haml'

.chat-area
  .edit-area
    .edit-area__group
      = @group.name
      .edit-area__group__member--span
      %span.edit-area__group__member 
        Member:
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group.id) do
      .edit-area__edit-button edit
  - group_id = @group.id
  .log-area{"data-groupid": group_id}
    = render @messages 
  = form_for [@group, @message] do |f| 
    .post-area
      .post-area__bar
        = f.text_field :content, placeholder: "type a messages", class: "post-area__bar__input"
        = f.label :image, class: "post-area__bar__image-button" do
          = fa_icon("image lg")
          = f.file_field :image, class: "image-select"
      = f.submit "Send", class: "post-area__button"

      hidden