= render partial: 'shared/side_bar.html.haml'

.chat-area
  .edit-area
    .edit-area__group 
      test-group
      %p.edit-area__group__member member:user
    =link_to "/groups/2/edit" do
      .edit-area__edit-button edit
  .log-area
    = render partial: 'shared/chat-log.html.haml'
  = form_for [@group, @message] do |f| 
    .post-area
      .post-area__bar
        = f.text_field :content, placeholder: "type a messages", class: "post-area__bar__input"
        = f.label :image, class: "post-area__bar__image-button" do
          = fa_icon("image lg")
          = f.file_field :image, class: "image-select"
      = f.submit "Send", class: "post-area__button"